.nav-section {
    margin-bottom: 50px;
}

.nav-wrapper {
    .nav-brand {
        text-align: center;
        font-size: 3rem;
        padding: 1rem;
        color: $text-color;
    }

    .nav-main {
        width: 100%;
        height: 6vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: $blue;
        .logo-wrapper {
            display: flex;
            align-items: center;
            img {
                width: 85%;
                height: 85%;
            }
        }
        
        .nav-items-wrapper {
            ul {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;

                li {
                    a {
                        color: $text-color;
                        text-decoration-color: $neon;
                    }

                }
            }
        }
    }
}