/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
$baseFont:'Josefin Sans', sans-serif;
/* Colors */
$black:rgb(0, 0, 0);
$dark:#0D172A;
$primary:#4ABDAC;
$secondary:#F7B733;
$danger:#FC4A1A;
$clean:#DFDCE3;
$white:white;




