/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
$baseFont:'Josefin Sans', sans-serif;
/* Colors */
$black:rgb(51, 51, 51);
$soap: #D5D6EA;
$darkSoap: #7B7EB1;
$isabel: #F6F6EB;
$white:#D7ECD9;
$pink: #F5D5CB;


