/* helpers*/

@import './helpers/reset.scss';


/* global */

@import './global/mixin.scss';
@import './global/responsivemixin.scss';
@import './global/variables.scss';

/* Components */
@import './components/navigation.scss';
@import './components/slider.scss';
@import './components/showcase.scss';
@import './components/offer.scss';
@import './components/products.scss';
@import './components/contact.scss';

body {
    font-family:$baseFont;
    font-size: 1.5rem;
}

.section-margin {
    margin-top:50px;
    margin-bottom:100px;
    margin-left: 100px;
    margin-right: 100px;
}

/*animation*/

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}